@import url('../reset.css');

:root {
    --apollo-deception: #767676;
    --background-color: #193549;
    --img-base: #ffc600;
    --img-spacing: 10px;
    --img-blur: 10px;
    --main-font-color: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --img-base: #f93434;
        --main-font-color: #000000;
    }
}

#main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: var(--main-font-color);
}

.title {
    font-weight: 700;
    padding: 2rem 0;
}

.title .hl {
    color: var(--img-base);
}

.control-wrapper {
    font-size: 2rem;
    margin: 2rem 0;
}

picture img {
    padding: var(--img-spacing);
    background: var(--img-base);
    filter: blur(var(--img-blur));
    width: 30vw;
}

.reference-info {
    font-size: 1rem;
    margin: 2rem 0;
}

.reference-info a {
    color: var(--apollo-deception);
    text-decoration-line: underline;
    transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.reference-info a:hover {
    color: black;
    opacity: 0.9;
}
